.jian-jie p{
    text-indent: 2em;
}
.jian-jie a{
    text-align: center;
}
.li-shi a{
    text-align: center;
}
.li-shi h3{
    text-align: center;
}
.li-shi p{
    text-indent: 2em;
}
.li-shi .shijian{
    text-align: center;
}